@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bg{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 232, 232,0)
}
#main-wrapper{
    position: absolute;
    display: block;
    top: 0px; left: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#wrapper{
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255, 1);
    /* border: 1px solid red; */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#wrapper > div{
    /* background-color: #922727; */
    font-size: 30px;
    /* border: 1px solid red; */
}

#pic{
    width: 400px;
    height: 400px;
    background-color: rgba(226, 222, 13, 0.39);
    border-radius: 100%;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}
#col2-pic{
    width: 97%;
    height: 97%;
    background: url(logo.png)no-repeat;
    background-size: cover;
    border-radius: 100%;
    border: 10px solid rgb(211, 211, 187);
    margin: -4px;
    padding: 0px;
}
#description{
    font-family: 'Krona One', sans-serif;
    float: left;
    margin-left: 15px;
}
#hi{
    font-family: 'Krona One', sans-serif;
    font-size: 17px;
    color: rgb(184, 194, 42);
    margin-left: 3px;
    margin-bottom: 2px;
    line-height: 0px;
}
#gilbert{
    font-size: 40px;
    color: rgb(243, 140, 23);
    line-height: 38px;
}
#name{
    margin-top: -5px;
    margin-bottom: 3px;
}
#email{
    font-size: 15px;
    color: rgb(131, 121, 121);
    margin-top: -20px;
}
#desc{
    margin-top: 0px;
    margin-left: 8px;
    font-size: 27px;
    color: rgb(41, 171, 223);
}
#portfolio-title{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    line-height: 10px;
}

.img{
    width: 200px;
}

#gallery-row{
    /* margin:0px !important; */
    
    float: left;
    padding: 0px !important;
    width: 100%;
    /* overflow: hidden; */
    /* background-color: red; */
    margin: 0px 0px 0px 0px;
}


.content {
  background-color: rgb(179, 44, 44);
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  width: 100%;
  margin-left: 0px;
  border: 1px solid blue;
  /* height: 90%; */
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 0px;
    margin-bottom: 0px;
}

.btn{
    font-family: 'Krona One', sans-serif;
    font-size: 14px !important;
    background-color: rgb(47, 195, 176);
    width: 175px;
    padding: 13px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    outline: none;
}
#btn-container{
    margin-left: 20px;
}
.btn:hover {
  background-color: #7bd3ee; /* Green */
  color: rgb(61, 60, 60);
}

#overlay{
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 248);
    display: none;
}
.close-btn{
    width: 45px;
    height: 45px;
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    margin: 15px;
    border: none;
    outline: none;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 110px;
    height: 45px;
    background: none;
    letter-spacing: 2px;
}
#btn-close-portfolio{
    
    border-radius: 0%;
    width: 110px;
    height: 45px;
    border-radius: 6px;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 21px;
}
#container{
    display: block;
    position: absolute;
    width: 50%;
    min-width: 300px;
    max-width: 1000px;
    height: 90%;
    left: 50%;
    top: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #FFF;;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    /* border: 10px solid rgb(224, 218, 223); */
}

.exp-icon{
  float: left;
  margin-right: 15px;
  width: 150px;
  border-radius: 100%;
}
.contents{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 7px;
    margin-top: -10px;
    line-height: 20px;
}

#experience-txt{
    padding-top: 0px;
}
#overlay-left{
    position: absolute;
    display: block;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    /* background-color: rgb(30, 188, 199); */
    background-color: rgb(47, 195, 176);
}
#overlay-right{
    position: absolute;
    display: block;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    /* background-color: rgb(37, 78, 131); */
    background-color: rgb(47, 195, 176);
    margin: 0px 10px 10px 10px;
}
#portfolio{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#gallery-area{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#portfolio, #gallery-area, #overlay-left, #overlay-right{
    background-color: rgb(78, 85, 84);
}

#gallery-thumbs{
    /* display: block; */
    display: grid;
    position:relative;
    text-align: center;
    max-width: 960px;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 100px;
    /* background-color: rgb(255, 255, 255); */
    /* min-width: 1000px; */
}

#gallery-footer{
    display: inline-block;
    width: 100%;
    height: 0%;
}
#portfolio-title{
    margin-top: 85px;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(248, 248, 248);
}
#portfolio-overlay{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.95);
}
.clickthrough{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: red;
    top: 0px;
    left: 0px;
}
#close-portfolio-overlay{
    display: block;
    position: absolute;
    background: url(close-btn@2x.png)no-repeat;
    width: 45px;
    height: 45px;
    right: 0px;
    top: 0px;
    margin-top: 12px;
    margin-right:12px;
    cursor: pointer;
    z-index: 10000;
    display: none;
}
.ad-container{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.loader{
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thumb{
    /* display: inline-block; */
    float: left;
    width: 145px;
    height: 145px;
    box-sizing: border-box;
    background-color: #FFF;
    margin: 0px;
    background-size: contain;
    margin: 10px 10px 0px 0px;
    overflow: hidden !important;
    cursor: pointer;
}
.thumb-size{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    margin-left: 10px;
}
.ct-thumb{
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 145px;
    height: 145px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 500;
}
.ct-thumb:hover{
    background-color: rgba(210, 233, 6, 0.15);
    border: 4px solid rgb(255, 187, 1);
    box-sizing: border-box;
}